@font-face {
  font-family: "Chillax-Variable";
  src: url("../fonts/Chillax-Variable.woff2") format("woff2"), url("../fonts/Chillax-Variable.woff") format("woff"), url("../fonts/Chillax-Variable.ttf") format("truetype");
  font-weight: 200 700;
  font-display: swap;
  font-style: normal;
}
header {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  width: calc(100% - 2rem);
  max-width: 1200px;
  padding: 1rem;
  margin: 1rem;
  top: 0;
  left: calc(50% - 600px);
}
header nav {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  width: 95%;
  max-width: 1500px;
}
header nav .my-logo {
  width: 4rem;
  aspect-ratio: 1;
}
header nav .my-logo img {
  width: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  cursor: none;
}

html {
  font-size: 16px;
  scroll-behavior: smooth;
  background-color: #FDF6F8;
  background-image: url(https://grainy-gradients.vercel.app/noise.svg);
  font-family: "Chillax-Variable";
  font-weight: 400;
  overflow-x: hidden;
}
@media screen and (max-width: 800px) {
  html {
    font-size: 10px;
  }
}

.main-container {
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

main {
  display: block;
}
main .loading {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 4rem;
  position: fixed;
  inset: 0;
  background-color: #FDF6F8;
  background-image: url(https://grainy-gradients.vercel.app/noise.svg);
  border: solid 5px #110f0e;
  pointer-events: none;
}
main .loading img {
  width: 10vh;
  aspect-ratio: 1;
  min-width: 100px;
  transform-origin: bottom;
  opacity: 1;
}
main .loading .loading-bar {
  height: 4px;
  border-radius: 1.5px;
  width: 28%;
  min-width: 280px;
  background-color: #110f0e;
  transform-origin: left;
  transform: scaleX(0);
}
main .presentation {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 4rem;
  min-height: calc(100vh - 200px);
  width: 100%;
  position: relative;
  margin-top: 20px;
}
main .presentation .who {
  display: block;
  position: relative;
  width: fit-content;
}
main .presentation .who:before {
  content: "'";
  font-family: "Noto Serif Display", serif;
  position: absolute;
  bottom: -12rem;
  left: -6rem;
  color: transparent;
  font-size: 12rem;
  transform: rotate(-30deg);
  -webkit-text-stroke: 2px #CD2658;
}
main .presentation .who:after {
  content: "'";
  font-family: "Noto Serif Display", serif;
  position: absolute;
  bottom: -17.2rem;
  left: -3.8rem;
  color: #CD2658;
  font-size: 17rem;
  transform: rotate(-46deg);
}
main .presentation .who .hi {
  position: absolute;
  top: -2rem;
  left: -5%;
  font-size: 2rem;
  font-family: "Chillax-Variable";
  font-weight: 400;
}
main .presentation .who h1 {
  font-family: "Noto Serif Display", serif;
  font-weight: 600;
  font-size: 7vw;
  color: #110f0e;
  position: relative;
  text-align: center;
}
main .presentation .who h1:before {
  content: "'";
  position: absolute;
  top: -6rem;
  right: -4rem;
  color: #CD2658;
  font-size: 12rem;
  transform: rotate(32deg);
}
main .presentation .who h1:after {
  content: "'";
  position: absolute;
  top: -7.2rem;
  right: -3.8rem;
  color: transparent;
  font-size: 17rem;
  transform: rotate(28deg);
  -webkit-text-stroke: 2px #CD2658;
}
main .presentation .who .front-end {
  position: absolute;
  bottom: -4.5rem;
  right: -20%;
  font-size: 2rem;
  font-family: "Chillax-Variable";
  font-weight: 400;
  width: 40%;
}
main .presentation h3 {
  margin-top: 120px;
  font-family: "Chillax-Variable";
  font-weight: 400;
  min-width: 350px;
}
main .presentation h3 b {
  font-weight: 400;
  color: #110f0e;
  position: relative;
  color: #FDF6F8;
  padding: 0.2rem 0.8rem;
  white-space: nowrap;
}
main .presentation h3 b:before {
  content: "";
  position: absolute;
  z-index: -1;
  inset: 0;
  background-color: #110f0e;
  clip-path: polygon(5% 0%, 100% 0%, 95% 100%, 0% 100%);
}
main .presentation .cta {
  position: relative;
  padding: 1rem 2rem;
  transition: all 0.2s ease;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  gap: 0.6rem;
  text-decoration: none;
}
main .presentation .cta:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  border-radius: 3px;
  border: solid 2px #110f0e;
  background: transparent;
  height: 64px;
  aspect-ratio: 1;
  transition: all 0.3s ease;
  transform: rotate(45deg);
}
main .presentation .cta span {
  position: relative;
  color: #110f0e;
  font-size: 1.4rem;
  line-height: 2.375rem;
  font-weight: 500;
  letter-spacing: 0.25em;
  text-transform: uppercase;
  vertical-align: middle;
  transition: 0.5s;
}
main .presentation .cta img {
  position: relative;
  top: 0;
  height: 2rem;
  aspect-ratio: 1;
  transform: translate(-1rem);
  transition: all 0.3s 0.55s ease-in;
  opacity: 0;
}
main .presentation .cta:hover span {
  color: #FDF6F8;
  font-weight: 400;
}
main .presentation .cta:hover:before {
  transform: rotate(0);
  animation: cta-before 0.3s 0.25s forwards;
  background: #110f0e;
  border: transparent;
}
main .presentation .cta:hover img {
  transform: translate(0) rotate(-45deg) translate(0.5rem);
  opacity: 1;
}
main .presentation .go-scroll {
  height: 4rem;
  width: 2rem;
  border-radius: 2rem;
  border: solid 2px #110f0e;
  position: relative;
  margin-bottom: 100px;
}
main .presentation .go-scroll span {
  content: "";
  height: 1rem;
  border-radius: 50%;
  aspect-ratio: 1;
  background-color: #110f0e;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, 50%);
  animation: scroll-anim 2.5s infinite;
  transition: 0.4s;
}
main .presentation .go-scroll .paused {
  animation-play-state: paused;
}
main h2 {
  font-family: "Noto Serif Display", serif;
  font-size: 8rem;
  font-weight: 300;
  color: transparent;
  text-transform: uppercase;
  margin-left: 12.5%;
  overflow: hidden;
  position: relative;
  width: fit-content;
}
main h2:before {
  content: attr(data-h2);
  position: absolute;
  top: 0;
  left: 0;
  transform-origin: left;
  transform: translate(0, 0) rotate(0);
  background-color: #FDF6F8;
  background-image: url(https://grainy-gradients.vercel.app/noise.svg);
  color: #110f0e;
  transition: 0.4s;
}
main h2:hover:before {
  transform: translate(0, 90%) rotate(25deg);
}
main h2:after {
  content: attr(data-h2);
  position: absolute;
  top: 0;
  left: 0;
  transform-origin: left;
  transform: translate(0, -90%) rotate(-25deg);
  background-color: #FDF6F8;
  background-image: url(https://grainy-gradients.vercel.app/noise.svg);
  color: #110f0e;
  transition: 0.4s;
}
main h2:hover:after {
  transform: translate(0, 0) rotate(0);
}
main .projects {
  width: 100%;
}
main .projects .project-review {
  position: fixed;
  inset: 0 0 0 0;
  transform: translate(100%);
  z-index: 10;
  backdrop-filter: blur(20px);
  height: 100vh;
  width: 100%;
  transition: 0.3s cubic-bezier(0.1, 0.3, 0.9, 0.7);
}
main .projects .project-review .project-review-content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: relative;
  gap: 1rem;
  width: calc(100% - 16rem);
  min-height: calc(100vh - 16rem);
  margin: 8rem;
  padding: 12rem;
  background-color: #FDF6F8;
  color: #110f0e;
  border: solid 4px #110f0e;
  overflow-y: scroll;
}
main .projects .project-review .project-review-content .logo {
  position: absolute;
  top: 6rem;
  right: 6rem;
  height: 5rem;
  aspect-ratio: 1;
}
main .projects .project-review .project-review-content .close-project-review {
  position: absolute;
  bottom: 6rem;
  right: 6rem;
  height: 3rem;
  aspect-ratio: 1;
  background-color: #110f0e;
  display: none;
}
main .projects .project-review .project-review-content .close-project-review span {
  position: absolute;
  top: 1.5rem;
  left: 1.5rem;
  height: 1.5rem;
  width: 1.5px;
  background-color: #FDF6F8;
  transform: translate(-50%, -50%) rotate(45deg);
}
main .projects .project-review .project-review-content .close-project-review span:nth-child(1) {
  transform: translate(-50%, -50%) rotate(135deg);
}
main .projects .project-review .project-review-content h4 {
  font-size: 2rem;
  font-family: "Noto Serif Display", serif;
  font-weight: 600;
}
main .projects .project-review .project-review-content .stack {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 2rem;
  position: relative;
  width: fit-content;
  margin-bottom: 2rem;
}
main .projects .project-review .project-review-content .stack:before {
  content: "";
  position: absolute;
  bottom: -0.5rem;
  width: 88%;
  height: 1.5px;
  background-color: #CD2658;
  transition: 0.3s;
  transform-origin: right;
}
main .projects .project-review .project-review-content .stack:hover:before {
  transform: scaleX(0);
}
main .projects .project-review .project-review-content .stack:after {
  content: "";
  position: absolute;
  bottom: -0.5rem;
  width: 80%;
  height: 1.5px;
  background-color: #CD2658;
  transition: 0.3s;
  transform-origin: left;
  transform: scaleX(0);
  transition-delay: 0.1s;
}
main .projects .project-review .project-review-content .stack:hover:after {
  transform: scaleX(1);
}
main .projects .project-review .project-review-content .stack p {
  text-transform: uppercase;
  color: #CD2658;
  font-weight: 500;
  text-shadow: 4px 0 8px rgba(205, 38, 88, 0.2);
}
main .projects .project {
  display: flex;
  flex-direction: row;
  width: 100%;
  position: sticky;
  top: -1px;
}
main .projects .project div {
  width: 50%;
  height: 100vh;
  overflow-x: hidden;
}
main .projects .project .left {
  background-image: url("https://droidsoft.fr/wordpress/wp-content/uploads/2016/02/fond-ecran-android-tablette-starwars-logo.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
main .projects .project .right {
  background-color: #FDF6F8;
  background-image: url(https://grainy-gradients.vercel.app/noise.svg);
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  gap: 2rem;
  padding: 8rem;
}
main .projects .project .right .project-counter {
  position: absolute;
  top: 4rem;
  left: 2rem;
  color: #110f0e;
  font-size: 6rem;
  font-family: "Noto Serif Display", serif;
  font-weight: 600;
  transition: 0.3s;
  opacity: 0;
}
main .projects .project .right h4 {
  font-size: 6rem;
  color: #110f0e;
  width: 100%;
  font-family: "Noto Serif Display", serif;
  text-align: left;
  transition: 0.3s;
  opacity: 0;
}
main .projects .project .right .project-desc {
  width: 40%;
  min-width: 230px;
  text-align: right;
  font-size: 1rem;
  transition: 0.3s;
  opacity: 0;
}
main .projects .project .right .click {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  height: fit-content;
  transition: 0.3s;
  opacity: 0;
}
main .projects .project .right .click a,
main .projects .project .right .click button {
  text-decoration: none;
  display: flex;
  align-items: center;
  border-radius: 2rem;
  flex-wrap: nowrap;
  background-color: #110f0e;
  padding: 1rem 1rem;
  color: #FDF6F8;
  transition: 0.4s;
}
main .projects .project .right .click .view-project {
  flex-direction: row-reverse;
}
main .projects .project .right .click .view-project .visit-arrow {
  height: 1.5rem;
  aspect-ratio: 1;
  transition: 0.3s;
  transition-delay: 0.2s;
}
main .projects .project .right .click .view-project p {
  text-decoration: none;
  transform-origin: left;
  text-align: right;
  transition: 0.4s;
  width: 0;
  opacity: 0;
  white-space: nowrap;
  font-family: "Chillax-Variable";
  font-size: 16px;
}
main .projects .project .right .click .view-project:hover p {
  width: 100px;
  animation: go-op-1-visit-website 0.2s 0.2s ease-in-out forwards;
  margin-left: 1rem;
}
main .projects .project .right .click .view-project:hover .visit-arrow {
  transform: scale(1.3);
}
main .projects .project .right .click .visit-link {
  flex-direction: row;
}
main .projects .project .right .click .visit-link .visit-arrow {
  height: 1.5rem;
  aspect-ratio: 1;
  transition: 0.3s;
  transition-delay: 0.2s;
}
main .projects .project .right .click .visit-link p {
  text-decoration: none;
  transform-origin: right;
  transition: 0.4s;
  width: 0;
  opacity: 0;
  white-space: nowrap;
}
main .projects .project .right .click .visit-link:hover p {
  width: 100px;
  animation: go-op-1-visit-website 0.2s 0.2s ease-in-out forwards;
  margin-right: 1rem;
}
main .projects .project .right .click .visit-link:hover .visit-arrow {
  transform: rotate(-35deg);
}
main .projects .project2 .left {
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/4/48/Paris_75005_Grande_Galerie_de_l%27Evolution_20070804.jpg");
}
main .about {
  width: 100%;
  position: relative;
  padding: 30vh 0 30vh 0;
  margin-bottom: 15vh;
  overflow: hidden;
}
main .about .texts {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  flex-direction: column;
  gap: 400px;
}
main .about .texts .text {
  width: 45%;
  background-color: #FDF6F8;
  background-image: url(https://grainy-gradients.vercel.app/noise.svg);
  transform-origin: top;
}
main .about .texts .text h4 {
  font-size: 2.4rem;
  line-height: 3rem;
  font-weight: 800;
  color: #FDF6F8;
  position: relative;
  padding-left: 3rem;
  white-space: nowrap;
  text-transform: uppercase;
  font-family: "Noto Serif Display", serif;
  transition-delay: 0.2s;
  transition-duration: 0.2s;
  width: 100%;
  overflow: hidden;
  z-index: 10;
  margin-bottom: 4rem;
}
main .about .texts .text h4:hover {
  color: #110f0e;
}
main .about .texts .text h4:before {
  content: "";
  position: absolute;
  z-index: -1;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-color: #110f0e;
  transition: 0.4s;
}
main .about .texts .text h4:hover:before {
  left: 95%;
}
main .about .texts .text .text-bottom {
  position: relative;
}
main .about .texts .text .text-bottom p {
  font-size: 2rem;
  color: #110f0e;
  font-weight: 400;
  margin-top: 2rem;
}
main .about .texts .text .text-bottom p a {
  text-decoration: none;
  position: relative;
  color: #110f0e;
}
main .about .texts .text .text-bottom p a:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1.5px;
  background-color: #110f0e;
  transform-origin: right;
  transition: 0.3s;
  transition-delay: 0.1s;
}
main .about .texts .text .text-bottom p a:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1.5px;
  background-color: #110f0e;
  transform-origin: left;
  transition: 0.3s;
  transition-delay: 0.2s;
  transform: scaleX(0);
}
main .about .texts .text .text-bottom p a:hover:before {
  transform: scaleX(0);
}
main .about .texts .text .text-bottom p a:hover:after {
  transform: scaleX(1);
}
main .about .texts .text .text-bottom .big-text {
  position: absolute;
  font-family: "Chillax-Variable";
  font-weight: 900;
  color: #CD2658;
  opacity: 0.1;
  top: 1rem;
  width: 100%;
  height: 100%;
  font-size: 14vw;
  white-space: nowrap;
  transform: translate(-90%);
  text-transform: uppercase;
  pointer-events: none;
}
main .about .texts .text .text-bottom .big-text:nth-last-child(1) {
  top: 13vw;
  transform: rotate(180deg) translate(-90%);
}
main .line {
  height: 2px;
  width: 100%;
  background-color: #CD2658;
  transform: rotate(-5deg);
  z-index: 1000;
}
main .line2 {
  transform: translate(0, -50px) rotate(-2deg);
}
main .line3 {
  transform: translate(0, 20px) rotate(4deg);
}

.cursor {
  position: fixed;
  z-index: 10000;
  height: 1.4rem;
  aspect-ratio: 1;
  border-radius: 50%;
  background-color: #110f0e;
  transform: translate(-50%, -50%);
  pointer-events: none;
}

.cursor-2 {
  height: 1.1rem;
}

.cursor-3 {
  height: 0.8rem;
}

.cursor-4 {
  height: 0.3rem;
}

.cursor-sonar {
  position: fixed;
  height: 1rem;
  aspect-ratio: 1;
  border-radius: 50%;
  background-color: rgba(17, 15, 14, 0.3);
  transform: translate(-50%, -50%);
  pointer-events: none;
  animation: cursor-sonar 3s infinite ease-in-out;
}

.close-cursor,
.close-cursor2 {
  width: 1.8px;
  border-radius: 0;
  transform: translate(-50%, -50%) rotate(45deg);
  height: 4rem;
  display: none;
}

.close-cursor2 {
  transform: translate(-50%, -50%) rotate(135deg);
}

.blend-mode-difference {
  mix-blend-mode: difference;
}

.back-ground-noise {
  background-image: url(https://grainy-gradients.vercel.app/noise.svg);
}

@keyframes go-op-1-visit-website {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes scroll-anim {
  from {
    opacity: 1;
    transform: translate(-50%, 50%);
  }
  70% {
    opacity: 1;
    transform: translate(-50%, 230%);
  }
  90% {
    opacity: 0;
    transform: translate(-50%, 250%);
  }
  91% {
    opacity: 0;
    transform: translate(-50%, 50%);
  }
  to {
    opacity: 1;
    transform: translate(-50%, 50%);
  }
}
@-webkit-keyframes cta-before {
  from {
    width: 64px;
  }
  to {
    width: 100%;
  }
}
@-webkit-keyframes cursor-sonar {
  from {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }
  to {
    opacity: 0;
    transform: translate(-50%, -50%) scale(4);
  }
}
footer {
  display: flex;
  flex-direction: column;
  background-color: #030202;
  clip-path: polygon(0 0, 100% 15%, 100% 100%, 0% 100%);
  color: #FDF6F8;
}
footer .all-footer {
  opacity: 0;
  transform: translate3d(0, 220px, 0);
}
footer .top {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 100%;
  height: 60vh;
  margin-top: 20vh;
}
footer .top .left,
footer .top .right {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 40%;
}
footer .top .left h5,
footer .top .right h5 {
  font-size: 4.4rem;
  width: fit-content;
  max-width: 70%;
  letter-spacing: -0.2rem;
}
footer .top .left .footer-cta,
footer .top .right .footer-cta {
  padding: 0.5em 1em;
  width: fit-content;
  transform: translate(0, -4vh);
  transition: 0.3s;
  position: relative;
  color: #FDF6F8;
  text-decoration: none;
}
footer .top .left .footer-cta:hover,
footer .top .right .footer-cta:hover {
  color: #110f0e;
}
footer .top .left .footer-cta:before,
footer .top .right .footer-cta:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 1px;
  width: 100%;
  background-color: #FDF6F8;
  transition: 0.3s;
  z-index: -1;
}
footer .top .left .footer-cta:hover:before,
footer .top .right .footer-cta:hover:before {
  height: 22%;
}
footer .top .left .footer-cta:after,
footer .top .right .footer-cta:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 1px;
  width: 100%;
  background-color: #FDF6F8;
  transition: 0.3s;
  z-index: -1;
}
footer .top .left .footer-cta:hover:after,
footer .top .right .footer-cta:hover:after {
  height: 80%;
}
footer .top .right p {
  color: #FDF6F8;
}
footer .top .right h5 {
  text-align: center;
  width: 100%;
}
footer .top .right .share-socials {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  width: 80%;
  transform: translate(0, 2vh);
  margin-top: 6vh;
}
footer .top .right .share-socials .share-social {
  position: static;
}
footer .top .left .footer-cta {
  transform: translate(75%, -4vh);
}
footer .bottom {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
  gap: 2rem;
}
footer .bottom .footer-links {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 80%;
  min-width: 350px;
  text-transform: uppercase;
  padding-top: 1rem;
}
footer .bottom .footer-links .page-links,
footer .bottom .footer-links .socials-links {
  display: flex;
  flex-direction: row;
  gap: 3rem;
}
footer .bottom .footer-links .page-links a,
footer .bottom .footer-links .socials-links a {
  text-decoration: none;
  color: #FDF6F8;
  font-size: 1.2rem;
  position: relative;
  text-align: center;
}
footer .bottom .footer-links .page-links a:before,
footer .bottom .footer-links .socials-links a:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1.5px;
  background-color: #CD2658;
  transform-origin: left;
  transition: 0.3s;
  transition-delay: 0.1s;
  transform: scaleX(0);
}
footer .bottom .footer-links .page-links a:hover:before,
footer .bottom .footer-links .socials-links a:hover:before {
  transform: scaleX(1);
}
footer .bottom .footer-links .page-links a img,
footer .bottom .footer-links .socials-links a img {
  height: 2rem;
  aspect-ratio: 1;
}
footer .bottom .footer-links .socials-links a:before {
  transform-origin: right;
}
footer .bottom .footer-links .separation {
  width: 100%;
  height: 2px;
  background-color: #FDF6F8;
}
footer .bottom .footer-links .copyright-socials-links {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
footer .bottom .footer-links .copyright-socials-links p {
  text-decoration: none;
  color: #FDF6F8;
  font-size: 1.2rem;
}
footer .bottom .banner {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  padding: 0.5rem;
}
footer .bottom .banner span {
  text-transform: uppercase;
  color: #FDF6F8;
  font-size: 5rem;
  line-height: 4rem;
  white-space: nowrap;
  font-weight: 600;
  font-family: "Noto Serif Display", serif;
  animation: banner-anim 25s linear infinite;
}
footer .bottom .banner:nth-child(2) {
  animation-delay: 25s;
}
footer .bottom .banner:nth-child(3) {
  animation-delay: 50s;
}

@-webkit-keyframes banner-anim {
  from {
    transform: translate(0);
  }
  to {
    transform: translate(-100%);
  }
}
@media screen and (max-width: 1760px) {
  footer .top .left, footer .top .right {
    width: 45%;
  }
}
@media screen and (max-width: 1600px) {
  footer .top .left, footer .top .right {
    width: 50%;
  }
}
@media screen and (max-width: 1415px) {
  main .presentation .who .front-end {
    bottom: -7.8rem;
  }
  main .projects .project-review .project-review-content {
    padding: 6rem;
    margin: 4rem;
    width: calc(100% - 8rem);
    min-height: calc(100vh - 8rem);
  }
  main footer .top .left h5, main footer .top .right h5 {
    font-size: 3.8rem;
  }
  main footer .top .right .footer-cta {
    transform: translate(0, -4vh);
  }
}
@media screen and (max-width: 1350px) {
  main .presentation .who .front-end {
    bottom: -7.8rem;
  }
  main h2 {
    font-size: 6rem;
  }
  main .projects .project .right {
    padding: 4rem;
  }
  main .projects .project .right .project-counter {
    font-size: 4.5rem;
  }
  main .projects .project .right h4 {
    font-size: 4.5rem;
  }
  main .about {
    padding: 15vh 0 15vh 0;
    margin-bottom: 5vh;
  }
  main .about .texts {
    gap: 250px;
  }
  footer .top .right .footer-cta {
    transform: translate(0, -5vh);
  }
}
@media screen and (max-width: 1210px) {
  footer .top {
    flex-direction: column;
    gap: 0;
    margin-bottom: 48px;
  }
  footer .top .left, footer .top .right {
    margin-top: 6vh;
    width: 71%;
  }
  footer .top .left h5, footer .top .right h5 {
    text-align: center;
    font-size: 4rem;
  }
  footer .top .left .footer-cta {
    transform: translate(0, 1vh);
  }
  footer .top .right .footer-cta {
    transform: translate(0, -7vh);
  }
}
@media screen and (max-width: 1000px) {
  main .presentation .who .hi, main .presentation .who .front-end {
    font-size: 1.5rem;
  }
  main .presentation .who .front-end {
    bottom: -6rem;
  }
  main .presentation .cta span {
    font-size: 1.1rem;
  }
  main .presentation .cta:before {
    height: 48px;
    top: 8px;
  }
  main .presentation .cta img {
    height: 1.5rem;
  }
  main .projects .project .right {
    padding: 2rem;
  }
  main .projects .project .right .project-counter {
    font-size: 3.5rem;
  }
  main .projects .project .right h4 {
    font-size: 3.5rem;
  }
  main .projects .project .right .click p {
    font-size: 0.8rem;
    margin: 0 !important;
  }
  main .projects .project .right .click .view-project .visit-arrow {
    height: 1rem;
  }
  main .projects .project .right .click .visit-link .visit-arrow {
    height: 1rem;
  }
  main .about .texts .text {
    width: 65%;
  }
  main .about .texts .text h4 {
    font-size: 2rem;
  }
  main .about .texts .text .text-bottom .big-text {
    top: 0;
  }
  main .about .texts .text .text-bottom .big-text:nth-child(1) {
    top: 0;
  }
}
@media screen and (max-width: 850px) {
  main .presentation .who .hi, main .presentation .who .front-end {
    font-size: 1rem;
  }
  main .presentation .who .hi {
    top: -1rem;
  }
  main .presentation .who .front-end {
    bottom: -2.6rem;
  }
  main .projects .project .left {
    transition: 0.3s;
  }
  main .projects .project .left:hover {
    width: 105%;
  }
  main .projects .project .right {
    transition: 0.3s;
    width: 65%;
  }
}
@media screen and (max-width: 800px) {
  .cursor,
  .cursor-sonar {
    display: none !important;
  }
  main .presentation h3 {
    text-align: center;
  }
  main .presentation .who:before {
    bottom: -14rem;
    left: -2rem;
  }
  main .presentation .who:after {
    bottom: -19.2rem;
    left: 0.2rem;
  }
  main .presentation .who h1:before {
    top: -12rem;
    right: -1rem;
  }
  main .presentation .who h1:after {
    top: -13.2rem;
    right: -0.8rem;
  }
  main .presentation .who .hi, main .presentation .who .front-end {
    font-size: 2rem;
  }
  main .presentation .who .hi {
    top: -1.6rem;
  }
  main .presentation .who .front-end {
    bottom: -7.6rem;
  }
  main .presentation h3 {
    font-size: 2rem;
    width: 70%;
  }
  main .presentation .cta span {
    color: #FDF6F8;
    font-weight: 400;
    font-size: 1.5rem;
  }
  main .presentation .cta:before {
    transform: rotate(0);
    animation: cta-before 0.3s 0.25s forwards;
    background: #110f0e;
    border: transparent;
  }
  main .presentation .cta img {
    transform: translate(0) rotate(-45deg) translate(0.5rem);
    opacity: 1;
  }
  main .presentation .cta:before {
    scale: 0.9;
    top: -4px;
  }
  main .about {
    margin-top: 10vh;
  }
  main .about .texts {
    gap: 150px;
  }
  main .about .texts .text .text-bottom p {
    margin-top: 5rem;
  }
  main .about .texts .text .text-bottom .big-text {
    top: -5.5rem;
  }
  main .projects .project-review .project-review-content {
    padding: 2rem;
    margin: 1rem;
    width: calc(100% - 2rem);
    min-height: calc(100vh - 2rem);
  }
  main .projects .project-review .project-review-content h4 {
    font-size: 5rem;
  }
  main .projects .project-review .project-review-content .stack {
    font-size: 2.2rem;
  }
  main .projects .project-review .project-review-content .project-intro,
  main .projects .project-review .project-review-content .project-text,
  main .projects .project-review .project-review-content .logo {
    font-size: 1.6rem;
    top: 3rem;
    right: 3rem;
  }
  main .projects .project-review .project-review-content .close-project-review {
    display: block;
  }
  main .projects .project .left {
    width: 32%;
  }
  main .projects .project .right .project-counter {
    font-size: 6rem;
  }
  main .projects .project .right h4 {
    font-size: 6rem;
  }
  main .projects .project .right .project-desc {
    font-size: 1.7rem;
  }
  main .projects .project .right .click p {
    font-size: 1.5rem;
  }
  main .projects .project .right .click .view-project .visit-arrow {
    height: 2rem;
  }
  main .projects .project .right .click .visit-link .visit-arrow {
    height: 2rem;
  }
  main footer .top .left, main footer .top .right {
    scale: 1.3;
  }
  main footer .top .left h5, main footer .top .right h5 {
    font-size: 5rem;
  }
  main footer .top .right {
    margin-top: 11vh;
  }
  main footer .bottom .footer-links .page-links a {
    font-size: 1.5rem;
  }
  main footer .bottom .footer-links .copyright-socials-links a {
    height: 3rem;
  }
  main footer .bottom .footer-links .copyright-socials-links a img {
    height: 2.5rem;
  }
}
@media screen and (max-width: 650px) {
  main .presentation {
    margin-top: 100px;
  }
  main .presentation .who .hi, main .presentation .who .front-end {
    font-size: 1.7rem;
  }
  main .presentation .who .hi {
    top: -5rem;
  }
  main .presentation .who .front-end {
    bottom: -10rem;
    right: 3rem;
  }
  main .projects .project-review .project-review-content h4 {
    font-size: 3.5rem;
  }
  main .projects .project-review .project-review-content .stack {
    font-size: 1.8rem;
  }
  main .projects .project-review .project-review-content .logo {
    font-size: 1.2rem;
  }
  main .projects .project {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }
  main .projects .project .left {
    width: 100%;
    grid-column: 1;
    grid-row: 1;
  }
  main .projects .project .right {
    width: 100%;
    grid-column: 1;
    grid-row: 1;
    background-color: #FDF6F8;
    background-image: url(https://grainy-gradients.vercel.app/noise.svg);
  }
  main footer .top .left, main footer .top .right {
    width: 80%;
  }
  main footer .top .left h5, main footer .top .right h5 {
    font-size: 4rem;
  }
}
@media screen and (max-width: 450px) {
  main .presentation .who h1 {
    font-size: 3.3rem;
  }
  main .presentation h3 {
    font-size: 1.4rem;
  }
  main .projects .project-review .project-review-content {
    margin: 0.5rem;
    height: calc(100% - 1rem);
    width: calc(100% - 1rem);
  }
  main .about .texts .text .text-bottom .big-text {
    top: 0;
  }
  main .about .texts .text .text-bottom .big-text:nth-last-child(1) {
    top: 0;
  }
  main footer .bottom .footer-links {
    margin-top: 3rem;
    width: 100%;
  }
  main footer .bottom .footer-links .page-links {
    justify-content: space-evenly;
    gap: 0;
  }
  main footer .bottom .footer-links .page-links a:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1.5px;
    background-color: #CD2658;
  }
  main footer .bottom .footer-links .separation {
    width: 90%;
    margin: 0.8rem auto;
    height: 1.5px;
  }
  main footer .bottom .footer-links .copyright-socials-links {
    flex-direction: column-reverse;
    gap: 4rem;
  }
  main footer .bottom .footer-links .socials-links {
    justify-content: space-evenly;
    width: 80%;
  }
  main footer .bottom .footer-links .socials-links a:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1.5px;
    background-color: #CD2658;
  }
}

/*# sourceMappingURL=style.css.map */
