*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    &:hover{
        cursor: none !important;
    }
}
html{
    font-size: 16px;
    scroll-behavior: smooth;
    
    @include xl{
        font-size: 10px;
    }

    background-color: $almost-white;
    background-image: url(https://grainy-gradients.vercel.app/noise.svg);
    
    font-family: 'Chillax-Variable';
    font-weight: 400;
}
main{
    display: block;

    .loading{
        @include fcenter;
        flex-direction: column;
        gap: 4rem;
        position: fixed;
        inset: 0;
        background-color: $almost-white;
        background-image: url(https://grainy-gradients.vercel.app/noise.svg);
        border: solid 5px $almost-black;
        pointer-events: none;

        img{
            width: 10vh;
            aspect-ratio: 1;
            min-width: 100px;
            transform-origin: bottom;
        }

        .loading-bar{
            height: 4px;
            border-radius: 1.5px;
            width: 28%;
            min-width: 280px;
            background-color: $almost-black;
            transform-origin: left;
            transform: scaleY(1);
        }
    }

    .presentation{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 4rem;
        min-height: calc(100vh - 200px);
        width: 100%;
        max-width: 2000px;
        position: relative;
        margin-top: 120px;

        .who{
            display: block;
            position: relative;
            width: fit-content;

            .hi{
                position: absolute;
                top: -2rem;
                left: -5%;
                font-size: 2rem;
                font-family: 'Chillax-Variable';
                font-weight: 400;
            }

            h1{
                font-family: 'Noto Serif Display', serif;
                font-weight: 600;
                font-size: 7rem;
                color: $almost-black;
            }

            .front-end{
                position: absolute;
                bottom: -4.5rem;
                right: -20%;
                font-size: 2rem;
                font-family: 'Chillax-Variable';
                font-weight: 400;
                width: 40%;
            }
        }

        h3{
            margin-top: 120px;
            font-family: 'Chillax-Variable';
            font-weight: 400;
            line-height: 2rem;
            min-width: 350px;

            b{
                font-weight: 400;
                color: $almost-black;
                position: relative;
                color: $almost-white;
                padding: .2rem .8rem;

                &:before{
                    content: '';
                    position: absolute;
                    z-index: -1;
                    inset: 0;
                    background-color: $almost-black;
                    clip-path: polygon(5% 0%, 100% 0%, 95% 100%, 0% 100%);
                }
            }
        }
        .cta{
            position: relative;
            padding: 1rem 2rem;
            transition: all .2s ease;
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: center;
            align-items: center;
            gap: 0.6rem;
            text-decoration: none;

            &:before{
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                display: block;
                border-radius: 3px;
                border: solid 2px $almost-black;
                background: transparent;
                height: 64px;
                width: 64px;
                transition: all .3s ease;
                transform: rotate(45deg);
            }

            span{
                position: relative;
                color: $almost-black;
                font-size: 1.4rem;
                line-height: 2.375rem;
                font-weight: 500;
                letter-spacing: .25em;
                text-transform: uppercase;
                vertical-align: middle;
                transition: .5s;
            }
            img{
                position: relative;
                top: 0;
                height: 2rem;
                aspect-ratio: 1;
                transform: translate(-1rem);
                transition: all .3s .55s ease-in;
                opacity: 0;
            }

            &:hover{

                span{
                    color: $almost-white;
                    font-weight: 400;
                }

                &:before{
                    transform: rotate(0);
                    animation: cta-before .3s .25s forwards;
                    background: $almost-black;
                    border: transparent;                  
                }
                img{
                    transform: translate(0) rotate(-45deg) translate(0.5rem);
                    opacity: 1;
                }
            }
        }

        .go-scroll{
            height: 4rem;
            width: 2rem;
            border-radius: 2rem;
            border: solid 2px $almost-black;
            position: relative;
            // backdrop-filter: blur(10px);
            // margin-bottom: 600px;

            span{
                content: '';
                height: 1rem;
                border-radius: 50%;
                aspect-ratio: 1;
                background-color: $almost-black;
                position: absolute;
                top: 0;
                left: 50%;
                transform: translate(-50%, 50%);
                animation: scroll-anim 2.5s infinite;
                transition: .4s;
            }

            .paused {
                animation-play-state: paused;
            }
        }
    }

    h2{
        font-family: 'Noto Serif Display', serif;
        font-size: 8rem;
        font-weight: 300;
        color: transparent;
        text-transform: uppercase;
        margin-left: 12.5%;
        overflow: hidden;
        position: relative;
        width: fit-content;

        &:before{
            content: attr(data-h2);
            position: absolute;
            top: 0;
            left: 0;
            transform-origin: left;
            transform: translate(0, 0) rotate(0);
            background-color: $almost-white;
            background-image: url(https://grainy-gradients.vercel.app/noise.svg);
            color: $almost-black;
            transition: .4s;
        }
        &:hover:before{
            transform: translate(0, 90%) rotate(25deg);
        }

        &:after{
            content: attr(data-h2);
            position: absolute;
            top: 0;
            left: 0;
            transform-origin: left;
            transform: translate(0, -90%) rotate(-25deg);
            background-color: $almost-white;
            background-image: url(https://grainy-gradients.vercel.app/noise.svg);
            color: $almost-black;
            transition: .4s;
        }
        &:hover:after{
            transform: translate(0, 0) rotate(0);
        }
    }

    .projects{
        width: 100%;

        .project-review{
            position: fixed;
            inset: 0 0 0 0;
            transform: translate(100%);
            z-index: 10;
            backdrop-filter: blur(20px);
            height: 100vh;
            width: 100%;
            transition: .3s cubic-bezier(.1,.3,.9,.7);

            .project-review-content{
                display: flex;
                justify-content: center;
                flex-direction: column;
                position: relative;
                gap: 2rem;
                width: calc(100% - 16rem);
                min-height: calc(100vh - 16rem);
                margin: 8rem;
                padding: 12rem;
                background-color: $almost-white;
                color: $almost-black;
                
                .logo{
                    position: absolute;
                    top: 6rem;
                    right: 6rem;
                    height: 5rem;
                    aspect-ratio: 1;
                }

                h4{
                    font-size: 2rem;
                    font-family: 'Noto Serif Display', serif;
                    font-weight: 600;
                    margin-bottom: 1rem;
                }

                .stack{
                    display: flex;
                    flex-direction: row;
                    flex-wrap: nowrap;
                    gap: 2rem;

                    p{
                        text-transform: uppercase;
                        color: $red;
                        font-weight: 500;
                        text-shadow: 4px 0 8px rgba($red, .2);
                    }
                }

                .project-intro{

                }

                .project-text{

                }
            }
        }

        .project{
            display: flex;
            flex-direction: row;
            width: 100%;
            position: sticky;
            top: -1px;
            

            div{
                width: 50%;
                height: 100vh;
                overflow-x: hidden;
            }
            
            .left{
                background-image: url('https://droidsoft.fr/wordpress/wp-content/uploads/2016/02/fond-ecran-android-tablette-starwars-logo.jpg');
                background-repeat: no-repeat;
                background-size: cover;
                background-position: center;
            }
            .right{
                background-color: $almost-white;
                background-image: url(https://grainy-gradients.vercel.app/noise.svg);
                position: relative;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: flex-end;
                gap: 2rem;
                padding: 8rem;

                .project-counter{
                    position: absolute;
                    top: 4rem;
                    left: 2rem;
                    color: $almost-black;
                    font-size: 6rem;
                    font-family: 'Noto Serif Display', serif;
                    font-weight: 600;
                    transition: .3s;

                    opacity: 0;
                }

                h4{
                    font-size: 6rem;
                    color: $almost-black;
                    width: 100%;
                    font-family: 'Noto Serif Display', serif;
                    // text-align: center;
                    text-align: left;
                    transition: .3s;
                    
                    opacity: 0;
                }

                .project-desc{
                    width: 40%;
                    text-align: right;
                    font-size: 1rem;
                    transition: .3s;
                    
                    opacity: 0;
                }

                .click{
                    display: flex;
                    flex-direction: row;
                    flex-wrap: wrap;
                    justify-content: space-between;
                    width: 100%;
                    height: fit-content;
                    transition: .3s;
                    
                    opacity: 0;

                    a{
                        text-decoration: none;
                        display: flex;
                        border-radius: 2rem;
                        flex-wrap: nowrap;
                        // border: solid 1px $almost-black;
                        background-color: $almost-black;
                        padding: 1rem 1rem;
                        color: $almost-white;
                        transition: .4s;
                    }

                    .view-project{
                        flex-direction: row-reverse;
    
                        .visit-arrow{
                            height: 1.5rem;
                            aspect-ratio: 1;
                            transition: .3s;
                            transition-delay: .2s;
                        }
    
                        p{
                            text-decoration: none;
                            transform-origin: left;
                            transition: .4s;
                            width: 0;
                            opacity: 0;
                            white-space: nowrap;
                        }
    
                        &:hover p{
                            width: 100px;
                            animation: go-op-1-visit-website .2s .2s ease-in-out forwards;
                            margin-left: 1rem;
                        }
    
                        &:hover .visit-arrow{
                            transform: scale(1.3);
                        }
                    }
                    .visit-link{
                        flex-direction: row;
    
                        .visit-arrow{
                            height: 1.5rem;
                            aspect-ratio: 1;
                            transition: .3s;
                            transition-delay: .2s;
                        }
    
                        p{
                            text-decoration: none;
                            transform-origin: right;
                            transition: .4s;
                            width: 0;
                            opacity: 0;
                            white-space: nowrap;
                        }
    
                        &:hover p{
                            width: 100px;
                            animation: go-op-1-visit-website .2s .2s ease-in-out forwards;
                            margin-right: 1rem;
                        }
    
                        &:hover .visit-arrow{
                            transform: rotate(-35deg);
                        }
                    }
                }                
            }
        }
    }
    .about{
        width: 100%;
        position: relative;
        // background-color: $black;
        padding: 30vh 0 30vh 0;

        .texts{
            @include fcenter;
            position: relative;
            flex-direction: column;
            gap: 100vh;

            .text{
                width: 45%;

                h4{
                    font-size: 2.4rem;
                    line-height: 3rem;
                    font-weight: 800;
                    color: $almost-white;
                    position: relative;
                    padding-left: 3rem;
                    white-space: nowrap;
                    text-transform: uppercase;
                    font-family: 'Noto Serif Display', serif;
                    transition-delay: .2s;
                    transition-duration: .2s;

                    width: 100%;
                    overflow: hidden;
                    // background-color: $almost-white;

                    &:hover{
                        color: $almost-black;
                    }

                    &:before{
                        content: '';
                        position: absolute;
                        z-index: -1;
                        height: 100%;
                        width: 100%;
                        top: 0;
                        left: 0;
                        background-color: $almost-black;
                        transition: .4s;
                    }

                    &:hover:before{
                        left: 95%;
                    }

                    // &:before{
                    //     content: '';
                    //     position: absolute;
                    //     height: 100%;
                    //     width: 3rem;
                    //     top: 0;
                    //     left: -3rem;
                    //     background-color: $almost-white;
                    // }

                    // &:after{
                    //     content: '';
                    //     position: absolute;
                    //     height: 100%;
                    //     width: 100%;
                    //     top: 0;
                    //     left: -3rem;
                    //     background-color: $almost-white;
                    // }
                }
                
                p{
                    font-size: 2rem;
                    color: $almost-black;
                    min-width: 300px;
                    font-weight: 400;
                    margin-top: 2rem;
        
                    a{
                        text-decoration: none;
                        position: relative;
                        color: $almost-black;
        
                        &:before{
                            content: '';
                            position: absolute;
                            bottom: 0;
                            left: 0;
                            width: 100%;
                            height: 1.5px;
                            background-color: $almost-black;
                            transform-origin: right;
                            transition: .3s;
                            transition-delay: .1s;
                        }
        
                        &:after{
                            content: '';
                            position: absolute;
                            bottom: 0;
                            left: 0;
                            width: 100%;
                            height: 1.5px;
                            background-color: $almost-black;
                            transform-origin: left;
                            transition: .3s;
                            transition-delay: .2s;
                            transform: scaleX(0);
                        }
        
                        &:hover:before{
                            transform: scaleX(0);
                        }
                        &:hover:after{
                            transform: scaleX(1);
                        }
                    }
                }
            }            
        }        
    }
}

.cursor{
    position: fixed;
    z-index: 10000;
    height: 1.4rem;
    aspect-ratio: 1;
    border-radius: 50%;
    background-color:  $almost-black;
    transform: translate(-50%, -50%);
    pointer-events: none;
    // transition: .005s; Create a laggy effect on his position
}
.cursor-2{
    height: 1.1rem;
}
.cursor-3{
    height: .8rem;
}
.cursor-4{
    height: .3rem;
}
.cursor-sonar{
    position: fixed;
    height: 1rem;
    aspect-ratio: 1;
    border-radius: 50%;
    background-color: rgba($almost-black, .3);
    transform: translate(-50%, -50%);
    pointer-events: none;
    animation: cursor-sonar 3s infinite ease-in-out;
}
.close-cursor,
.close-cursor2{
    width: 3px;
    border-radius: 0;
    transform: translate(-50%, -50%) rotate(45deg);
    height: 4rem;
    display: none;
}
.close-cursor2{
    transform: translate(-50%, -50%) rotate(135deg);
}

.blend-mode-difference{
    mix-blend-mode: difference;
}
.back-ground-noise{
    background-image: url(https://grainy-gradients.vercel.app/noise.svg);
}

@keyframes go-op-1-visit-website {
    from{opacity: 0;}
    to{opacity: 1;}
}

@-webkit-keyframes scroll-anim {
    from {opacity: 1; transform: translate(-50%, 50%);} // max height of the ball
    70% {opacity: 1;transform: translate(-50%, 230%);} // min-height of the ball
    90% {opacity: 0;transform: translate(-50%, 250%);} // fade out 
    91% {opacity: 0; transform: translate(-50%, 50%);} // tp
    // 91% {opacity: 0; transform: translate(-50%, 30%);} // fade in mooving
    to {opacity: 1; transform: translate(-50%, 50%);} // fade in static
}

@-webkit-keyframes cta-before {
    from {width: 64px;}
    to {width: 100%;}
}

@-webkit-keyframes cursor-sonar {
    from {opacity: 1;transform: translate(-50%, -50%) scale(1);}
    to {opacity: 0;transform: translate(-50%, -50%) scale(4);}
}