footer{
    display: flex;
    flex-direction: column;
    background-color: $black;
    clip-path: polygon(0 0, 100% 15%, 100% 100%, 0% 100%);
    color: $almost-white;

    .all-footer{
        opacity: 0;
        transform: translate3d(0, 220px, 0);
    }

    .top{
        @include fcenter;
        flex-direction: row;
        width: 100%;
        height: 60vh;
        margin-top: 20vh;

        .left,
        .right{
            display: flex;
            align-items: center;
            flex-direction: column;
            width: 40%;

            h5{
                font-size: 4.4rem;
                width: fit-content;
                max-width: 70%;
                letter-spacing: -.2rem;
            }

            .footer-cta{
                // border-top: solid 2px $almost-white;
                // border-bottom: solid 2px $almost-white;
                padding: .5em 1em;
                // border-radius: 5px;
                width: fit-content;
                // margin-left: auto;
                transform: translate(0, -4vh);
                transition: .3s;
                position: relative;
                color: $almost-white;
                text-decoration: none;

                &:hover{
                    color: $almost-black;
                }

                &:before{
                    content: '';
                    position: absolute;
                    top: 0;
                    left: 0;
                    height: 1px;
                    width: 100%;
                    background-color: $almost-white;
                    transition: .3s;
                    z-index: -1;
                }

                &:hover:before{
                    height: 22%;
                }

                &:after{
                    content: '';
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    height: 1px;
                    width: 100%;
                    background-color: $almost-white;
                    transition: .3s;
                    z-index: -1;
                }

                &:hover:after{
                    height: 80%;
                }
            }
        }
        .right{

            p{
                color: $almost-white;
            }

            h5{
                text-align: center;
                width: 100%;
            }

            .share-socials{
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-evenly;
                width: 80%;
                transform: translate(0, 2vh);
                margin-top: 6vh;

                .share-social{
                    position: static;
                }
            }
        }
        .left{
            .footer-cta{
                transform: translate(75%, -4vh);
            }
        }
    }
    .bottom{
        @include fcenter;
        flex-direction: column;
        overflow: hidden;
        gap: 2rem;

        .footer-links{
            display: flex;
            flex-direction: column;
            gap: 1rem;
            width: 80%;
            min-width: 350px;
            text-transform: uppercase;
            padding-top: 1rem;

            .page-links,
            .socials-links{
                display: flex;
                flex-direction: row;
                gap: 3rem;

                a{
                    text-decoration: none;
                    color: $almost-white;
                    font-size: 1.2rem;
                    position: relative;
                    text-align: center;

                    &:before{
                        content: '';
                        position: absolute;
                        bottom: 0;
                        left: 0;
                        width: 100%;
                        height: 1.5px;
                        background-color: $red;
                        transform-origin: left;
                        transition: .3s;
                        transition-delay: .1s;
                        transform: scaleX(0);
                    }
    
                    &:hover:before{
                        transform: scaleX(1);
                    }
                    
                    img{
                        height: 2rem;
                        aspect-ratio: 1;
                    }
                }
            }

            .socials-links{
                a{
                    &:before{
                        transform-origin: right;
                    }
                }
            }

            .separation{
                width: 100%;
                height: 2px;
                background-color: $almost-white;
            }

            .copyright-socials-links{
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-between;

                p{
                    text-decoration: none;
                    color: $almost-white;
                    font-size: 1.2rem;
                }

            }
        }

        .banner{
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            padding: .5rem;
            // position: relative;

            // &:before{
            //     content: '';
            //     position: absolute;
            //     height: 3px;
            //     width: 100%;
            //     top: 14px;
            //     left: 0;
            //     background-color: $almost-white;
            // }
            // &:after{
            //     content: '';
            //     position: absolute;
            //     height: 3px;
            //     width: 100%;
            //     bottom: 1px;
            //     left: 0;
            //     background-color: $almost-white;
            // }

            span{
                text-transform: uppercase;
                color: $almost-white;
                font-size: 5rem;
                line-height: 4rem;
                white-space: nowrap;
                font-weight: 600;
                font-family: 'Noto Serif Display', serif;
                animation: banner-anim 25s linear infinite;
                // transition: .3s;
            }
            &:nth-child(2){
                animation-delay: 25s;
            }
            &:nth-child(3){
                animation-delay: 50s;
            }
        }
    }
}

@-webkit-keyframes banner-anim {
    from{transform: translate(0);}
    to{transform: translate(-100%);}
}